NODE RED FLOW.json
[{"id":"52e76bf7.d0d7e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7a2a2027.e6a39","type":"ui_form","z":"52e76bf7.d0d7e4","name":"","label":"","group":"404494e6.74971c","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B\t","value":"e","type":"number","required":true,"rows":null},{"label":"Measles ","value":"f","type":"number","required":true,"rows":null},{"label":" BMI ","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"k","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":340,"wires":[["4a348c55.a42be4"]]},{"id":"4a348c55.a42be4","type":"function","z":"52e76bf7.d0d7e4","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\n//following are required to receive a token\nvar apikey=\"VVDXIcKWOh_7wLatviSzKnzt3zEVizpopWNL1MeLs9Ob\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":120,"y":220,"wires":[["54b957ef.196fe8"]]},{"id":"79ca6894.2fef88","type":"http request","z":"52e76bf7.d0d7e4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/ac7d9f0b-6b7f-40c6-8512-ce416be38f6d/deployments/c7589dd6-fa0e-421a-ba42-5f9964e73454/online","tls":"","persist":false,"proxy":"","authType":"basic","x":470,"y":100,"wires":[["7c771f39.2947a","63562534.7bf54c"]]},{"id":"83739561.975ce8","type":"debug","z":"52e76bf7.d0d7e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":220,"wires":[]},{"id":"63562534.7bf54c","type":"function","z":"52e76bf7.d0d7e4","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":180,"wires":[["83739561.975ce8","f8c94eef.55e4d"]]},{"id":"7c771f39.2947a","type":"debug","z":"52e76bf7.d0d7e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":40,"wires":[]},{"id":"dff90d81.d076f","type":"function","z":"52e76bf7.d0d7e4","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"ac7d9f0b-6b7f-40c6-8512-ce416be38f6d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Adult Mortality\",\"infant deaths\",\n\"Alcohol\",\n\"percentage expenditure\",\n\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\"Diphtheria\",\" HIV/AIDS\",\"GDP\",\"Population\",\" thinness  1-19 years\",\" thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["79ca6894.2fef88"]]},{"id":"54b957ef.196fe8","type":"http request","z":"52e76bf7.d0d7e4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":170,"y":120,"wires":[["dff90d81.d076f"]]},{"id":"f8c94eef.55e4d","type":"ui_text","z":"52e76bf7.d0d7e4","group":"404494e6.74971c","order":1,"width":0,"height":0,"name":"","label":"Prediction     ","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":120,"wires":[]},{"id":"404494e6.74971c","type":"ui_group","z":"","name":"Predicting Life Expectancy","tab":"e017fa0c.b98388","order":1,"disp":true,"width":"6","collapse":false},{"id":"e017fa0c.b98388","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]